<div>

  <mat-form-field  appearance="outline">
    <ngx-mat-file-input #file [formControl]="filePath" (ngModelChange)="temp()">
    </ngx-mat-file-input>
  </mat-form-field>
</div>
<div style="height: 100%">
  <pdf-viewer #pdfViewer id="pdfViewerID" [src]="url" class="pdf-viewer-class" [original-size]="true" style="height: 80%" [autoresize]="true">
  </pdf-viewer>
  <canvas id="tip" width=150 height=25></canvas>
</div>
<div>
  <mat-button-toggle (click)="send()">Send</mat-button-toggle>
</div>
