#content{
  height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
}

#main{
  flex: auto;
  display: flex;
  flex-direction: row;

  > * {
    flex: 1;
  }
}

#picker, #picker *{
  width: 100%;
}

#selector {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 5px;

  *:last-child {
    margin-left: 5px;
  }
}

#fields{
  display: flex;
  flex-direction: column;
}

.field{
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px;
}

.boundingBox{
  border: 1px solid grey;
  position: absolute;
  border-radius: 3px;
}

.boundingBox:hover{
  border: 2px solid black;
  position: absolute;
}

.selected {
  border: 2px solid red!important;
}

